.main-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.avatar-area {
    margin-bottom: 30px;
}

#avatar {
    max-width: 100px;
    border: 1px solid;
}

.admin-info {
    margin: 10px 0px;
    font-size: 16px;
    font-weight: 600;
}

.admin-attribute {
    display: inline-block;
    width: 4em;

    text-align: justify;
    text-align-last: justify;
}

.admin-value {
    margin-left: 10px;
}

.btns-modify {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.btn-modify {
    margin: 10px;
}

#modify_id {
    padding-top: 7px;
}