.right_area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    left: 0px;
    right: 0px;
}

.area {
    margin: 20px 0px 20px 0px;
    padding: 0px;
    width: 600px;
    height: 400px;
}

.area1 {
    /* background-color: coral; */
}

.area2 {
    /* background-color: cornflowerblue; */
}

.area3 {
    /* background-color: crimson; */
}

.area4 {
    /* background-color: darkcyan; */
}