#menu_header {
    padding: 10px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

table thead th {
    font-size: 16px;
    background-color: #b2ebf2;
}

table thead tr th:nth-child(6),th:last-child,
th:nth-last-child(2),th:nth-last-child(3) {
    text-align: center;
}

table tbody td {
    vertical-align: middle !important;
}

table tbody tr td:last-child {
    text-align: center;
}

table tbody td img,.button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

table tbody td:nth-child(7) img {
    width: 18px;
    height: 18px;
}

.img-dishes {
    width: auto;
    max-height: 50px;
}

.right-toolbar {
    height: 100vh;
}

.right-toolbar #add_dish {
    position: relative;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.modal-title {
    font-weight: bold;
    text-align: center;
}

#dishid {
    font-weight: normal;
    margin: 0px;
    padding-top: 7px;
}
