#menu_header {
    /* position: relative; */
    padding: 15px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    /* left: 50%;
    transform: translateX(-50%); */
}

.table-area tbody td {
    vertical-align: middle !important;
}

.table-area tbody td button {
    position: relative;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
}

.img-dishes {
    width: auto;
    max-height: 50px;
}

.right-toolbar {
    height: 100vh;
}

.right-toolbar button {
    position: relative;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
}