#menu_header {
    padding: 10px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

table thead th {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    background-color: lightblue;
}

tbody td {
    vertical-align: middle !important;
}

tbody td img,.button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.img-dishes {
    width: auto;
    max-height: 50px;
}

.right-toolbar {
    height: 100vh;
}

.right-toolbar #add_dish {
    position: relative;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.modal-title {
    font-weight: bold;
    text-align: center;
}

#dishid {
    font-weight: normal;
    margin: 0px;
    padding-top: 7px;
}
