#header-add-dish {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 4px;
}

.buttons {
    display: flex;
    justify-content: center;
}

form button {
    margin: 10px;
}