.img-thumbnail {
    width: 100px;
    height: 100px;
}

.flex-pageorder {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.orderpage-btn-group {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: auto;
}

.compact-button {
    padding: 4px;
    font-size: 12px;
    font-family: sans-serif;
}