.reg-container {
    background: url(../images/login.jpg) no-repeat center center;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.form-group label {
    color: white;
}