.reg-container {
    background: url("http://imgbd.mxy493.xyz/20200515131553.jpg") no-repeat center center;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.form-group label {
    color: white;
}

.prompt {
    padding-top: 7px;
}